@import "~styles/index";

form {
  width: 300px;
  padding: 16px;
  border-radius: 4px;
  background: $clr-light;

  label {
    display: block;
    padding-bottom: 6px;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    color: $clr-main-text;
  }

  input {
    width: 100%;
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $clr-main-text;

    &:focus {
      border-bottom: 2px solid $clr-accent-blocks-bg;
      margin-bottom: 11px;
      outline: none;
    }
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;

  .submit-btn {
    width: 45%;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    padding: 6px 16px;
    border: 1px solid $clr-main-blocks-bg;
    border-radius: 4px;
    background: $clr-main-blocks-bg;
    color: $clr-light;
    text-transform: uppercase;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .close-btn {
    width: 45%;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    padding: 6px 16px;
    border: 1px solid $clr-accent-blocks-bg;
    border-radius: 4px;
    background: $clr-accent-blocks-bg;
    color: $clr-light;
    text-transform: uppercase;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
