@import "~styles/index";

.shown-task-container {
  background: $clr-light;
  padding: 16px;
  border-radius: 4px;
}

.task-info-container {
  margin-bottom: 16px;

  .title {
    font-size: 16px;
    font-weight: 500;
    color: $clr-main-text;
  }
}

.subtasks-list {
  margin-bottom: 12px;
  padding-left: 20px;
}

.add-subtask-container {
  margin-bottom: 16px;

  input {
    width: 100%;
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $clr-main-text;

    &:focus {
      outline: none;
    }
  }

  .submit-btn {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 16px;
    border: 1px solid $clr-main-blocks-bg;
    border-radius: 4px;
    background: $clr-main-blocks-bg;
    color: $clr-light;
    text-transform: uppercase;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.close-btn {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
  border: 1px solid $clr-accent-blocks-bg;
  border-radius: 4px;
  background: $clr-accent-blocks-bg;
  color: $clr-light;
  text-transform: uppercase;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
