@import "~styles/index";

.subtask-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .delete-btn {
    font-size: 16px;
    padding: 6px;
    border: none;
    color: $clr-main-text;
    background-color: $clr-light;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $clr-accent-blocks-bg;
    }
  }
}
