@import "~styles/index";

.container {
  width: 400px;
  height: 560px;
  position: relative;
  margin: 0 auto;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background: $clr-light;
}

.btn-add-task {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 54px;
  height: 54px;
  font-size: 20px;
  border: 1px solid $clr-main-blocks-bg;
  border-radius: 50%;
  color: $clr-light;
  background: $clr-main-blocks-bg;
  z-index: 1000000000;
  text-transform: uppercase;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
