@import "~styles/index";

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 13px;
  color: $clr-main-text;
}

.btn {
  width: 24px;
  height: 24px;
  border: 2px solid $clr-border;
  border-radius: 4px;
  font-size: 14px;
  color: $clr-main-blocks-bg;
  background-color: $clr-light;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 6px 6px;
  border-radius: 6px;

  &:hover {
    cursor: pointer;

    .btn-group {
      button {
        color: $clr-icons;

        &:hover {
          color: $clr-accent-blocks-bg;
        }
      }
    }
  }
}

.list-group-item-done {
  color: $clr-secondary-text;
  text-decoration: line-through;
}

.task-name {
  font-family: "Mont", sans-serif;
  font-size: 16px;
}

.btn-group {
  button {
    font-size: 15px;
    padding: 6px;
    border: none;
    color: $clr-light;
    background: none;
    cursor: pointer;
    outline: none;
  }
}
